.form-login{
	width:360px;
	padding: 10% 0 0;
	margin:auto;
}
.form{
	/*position: relative;*/
	top:100px;
	z-index: 9;
	max-width: 500px;
	margin: 0 auto 100px;
	padding: 45px;
	color: black;
}

.form input{
	font-family: 'Roboto', sans-serif;
	outline: 1;
	background:#f2f2f2;
	width: 100%;
	border:2;
	margin:0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}
.form button{
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #9e5343;
	width: 100%;
	border:1;
	padding: 15px;
	color: #ffffff;
	font-size: 14px;
	cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
}
.form button:hover, .form button:active{
	border-color: #9e5343;
	box-shadow: 1px 1px 10px 5px #b1604f;
    color: white;
}


.form .form1{
	background: #e7d46785;
    /* opacity: 0.8; */
	padding: 20px;

}
.error{
	color: red;
	font-weight: bold;
    font-size: small;
}
input[type=text], input[type=password],input[type=number], textarea, select{ 
	width: 100%; 
	padding: 12px 20px; 
	margin: 8px 0; 
	display: inline-block; 
	box-sizing: border-box; 
}