body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  background-image: url('https://assets.architecturaldigest.in/photos/60083aa7d0435267a8df8eec/master/w_1600%2Cc_limit/The-Brew-Chapter-bangalore-restaurant-pub_4-3.jpg');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
